.hero {
    height: 500px;
    background-image: linear-gradient(to right bottom,rgba(0,150,136,0.4),rgba(207,216,220,0.4)), url(../../img/hero.jpg);
    background-size: cover;
    
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__container {

}