.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: inherit;
    position: relative;
    top: 0;
    right: 0;
}   

.number {
    height: 26px;
    width: 26spx;
    border-radius: 50%;
    background-color: #0088a9;
    color: #edf0f1;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 20px;
    right: -10px;
}