.mealItemForm {
    margin: 10px 0;
}

.mealItemForm button {
    margin-top: 10px;
    padding: 5px 10px;
    font-style: inherit;
    background-color: #edf0f1;
    border-style: none;
    border-radius: 20px;
    font-size: 14px;
}

.mealItemForm button:hover {
    padding: 5px 10px;
    font-style: inherit;
    background-color: #edf0f1;
    color: #0088a9;
    border-style: none;
    border-radius: 20px;
    font-size: 14px;
}